@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Russo+One&display=swap');

/* Super base */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', cursive;
}

h1, h2, h3, h4{
    font-family: "Russo One", sans-serif;
}

/*carousel do header*/

.carousel-item img {
    height: 350px;
    object-fit: cover;
}

/* Navbar */

.link-navbar{
    font-family:"Russo One", sans-serif;
    font-size:1.1em;
    text-decoration: none;
    color:white;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.link-navbar:hover{
    color:rgb(178, 34, 34);
    text-decoration:underline;
}

.margem-cabecalho{
    margin-bottom:80px;
}

/* Formulário de contacto */

form label{
    font-family:"Russo One", sans-serif;
}

form placeholder{
    color:whitesmoke;
}

.form-control:focus {
    background-color: #343a40;
    color: white;
    border-color: #ffc107;
    box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25);
}


/* Footer */

footer a{
    color:whitesmoke;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover{
    color:rgb(178, 34, 34);
}

/* Jumbotrons do index.html */

.std-btn{
    background-color:rgb(178, 34, 34);
    color:white;
    transition:background-color 0.4s ease, color 0.4s ease;
}

.std-btn:hover{
    background-color:whitesmoke;
    color:rgb(178, 34, 34);
}

/* Cards */

.card-title{
    font-family:"Montserrat", sans-serif;
}

/* Responsividade */

@media (max-width:768px){

    header .carousel{
        display:none;
    }

    .link-navbar{
        font-size:1em;
    }

    .logo{
        display:flex;
        justify-content:center;
    }

    #navegacao nav{
        display:inline-flex;
        justify-content:center;
        width:100%;
    }

    .nav-redes{
        display:inline-flex;
        justify-content:center;
        width:100%;
        margin-top: 1.5em;
    }

    #navegacao ul{
    display:flex;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    gap:10px;
    }

    .termos{
        font-size:0.5em;
    }
}